.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
}

.random-number-generator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 80%;
  border-radius: 16px;
  border: 1px solid #e4ebf3;
  padding: 36px;
  box-shadow: 0px 4px 16px 0px #eaebed;
}

.heading {
  font-family: 'Roboto';
  font-size: 24px;
  text-align: center;
  color: #0b69ff;
  font-weight: 800;
}

.para {
  font-family: 'Roboto';
  font-size: 14px;
  text-align: center;
  color: #333333;
}

.generate-button {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  background-color: #0b69ff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 14px;
  outline: none;
  cursor: pointer;
}

.random-number {
  font-family: 'Roboto';
  font-size: 42px;
  font-weight: 800;
  color: #0b69ff;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .random-number-generator-container {
    width: 35%;
    max-width: 500px;
  }

  .heading {
    font-size: 32px;
  }

  .para {
    font-size: 20px;
  }

  .random-number {
    font-size: 36px;
  }
}
